In [30]:
import numpy as np
import pandas as pd

In [31]:
d = pd.read_csv(r"C:\Users\ponra\Downloads\archive (3)\Bank_Personal_Loan_Modelling.csv")

In [32]:
d.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [33]:
d.drop('ID',axis=1,inplace=True)

In [34]:
d['CCAvg'] = d['CCAvg'].astype('int64')

In [35]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Experience          5000 non-null   int64
 2   Income              5000 non-null   int64
 3   ZIP Code            5000 non-null   int64
 4   Family              5000 non-null   int64
 5   CCAvg               5000 non-null   int64
 6   Education           5000 non-null   int64
 7   Mortgage            5000 non-null   int64
 8   Personal Loan       5000 non-null   int64
 9   Securities Account  5000 non-null   int64
 10  CD Account          5000 non-null   int64
 11  Online              5000 non-null   int64
 12  CreditCard          5000 non-null   int64
dtypes: int64(13)
memory usage: 507.9 KB

In [36]:
d.columns

Index(['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [37]:
d.columns=['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard','Personal Loan']

In [38]:
x = d.iloc[:,:-1].values
y = d.iloc[:,-1].values

In [39]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [40]:
x = x.T

## Partical Swarm Optimization

In [123]:
def generate():
    w1 = np.random.randn(1,96)
    b1 = np.random.randn(1,8)
    w2 = np.random.randn(1,8)
    b2 = np.random.randn(1,1)
    return w1,b1,w2,b2

def sigmoid(z):
    return 1/(1+np.exp(-z))

def forward(w1,b1,w2,b2,x):
    z1 = w1.dot(x)+b1
    a1 = sigmoid(z1)
    z2 = w2.dot(a1)+b2
    a2 = sigmoid(z2)
    return a2

def fitness(acc,pred,y):
    for i in range(len(pred)):
        if(pred[i]>= 0.5):
            pred[i] = 1
        else:
            pred[i] = 0
    c = 0
    for i in range(len(pred)):
        if(pred[i]==y[i]):
            c = c + 1
    return c

def update_velocity(p1,p2,v1,v2,pbest1,pbest2):
    r1 = np.random.uniform(0,1)
    r2 = np.random.uniform(0,1)
    w = np.random.uniform(0.5,1)
    c1 = 0.1
    c2 = 0.1
    for i in range(len(p1)):
        for j in range(len(p1[i])):
            p1[i][j] = w*v1[i][j] + c1*r1*(pbest1[i][j]-p1[i][j]) + 
            c2*r2*(p1[i][j])
def pso(x,y):
    acc = []
    parti1 = []
    parti2 = []
    for i in range(25):
        w1,b1,w2,b2 = generate()
        parti1.append([w1,b1])
        parti2.append([w2,b2])
        w1 = w1.reshape(8,12)
        b1 = b1.reshape(8,1)
        a2 = forward(w1,b1,w2,b2,x)
        pred = a2[0]
        c = fitness(acc,pred,y)
        acc.append(((c/len(y)),i))
    pbest1 = []
    pbest2 = []
    globalBest = max(acc)[1]
    gbest_v1 = parti1[globalBest]
    pbest1.append([max(parti1[globalBest][0]),max(parti1[globalBest][1])])
    gbest_v2 = parti2[globalBest]
    pbest1.append([max(parti2[globalBest][0]),max(parti2[globalBest][1])])
    #for calculating velocity
    V1=[]
    V2=[]
    v1 = np.zeros(96)
    vb1 = np.zeros(8)
    v2 = np.zeros(8)
    vb2 = np.zeros(1)
    V1.append([v1,vb1])
    V2.append([v2,vb2])
    print(pbest1)
    for i in range(100):
        update_velocity(gbest_v1,gbest_v2,V1,V2,pbest1,pbest2)
        a2 = forward(w1,b1,w2,b2,x)
        fitness(acc,pred,y)

In [124]:
pso(x,y)

[[array([ 0.97451318, -0.24044869, -0.37587272,  1.18710781, -0.07303265,
        0.9382579 ,  0.12462191,  0.78124365,  0.32846607, -0.39637303,
       -0.58265734,  0.12774667, -0.38523036,  0.84308399,  0.26367341,
        0.78275917, -1.11603007,  0.03449524, -1.08521652, -1.51439115,
       -0.41066136, -0.29910459, -1.73922608,  2.12948734, -0.47958794,
        0.17925514, -0.05644086,  1.97468535,  0.559673  ,  0.39023592,
       -0.6527119 ,  2.12913606,  0.23541823, -0.91737725, -0.280135  ,
       -0.2067527 ,  1.11403504, -0.83308094, -0.16156299,  0.64294753,
        0.12761776,  0.97951686,  0.39987994,  0.97809378, -0.93327025,
       -0.79643287,  0.09490715,  0.85663975, -1.03496568,  0.28317691,
        1.9312237 ,  0.02306302,  0.47706399, -0.50322972, -1.56118856,
        0.00838141,  1.94952944, -0.2330557 , -0.03834068, -0.3566398 ,
       -0.32803907,  0.63350284, -0.04956702, -0.79085787, -1.62728092,
        0.37276309, -0.41311114, -0.57070019, -0.95723496,  1.57987325,
        0.59728788,  1.7313728 ,  1.16459209, -0.2544492 , -0.52252532,
       -1.00595784, -1.27045275, -0.83036486, -0.25171778, -1.06665691,
       -0.32800879,  0.43339   , -0.33517812, -1.25388462,  1.27827233,
       -1.26832145,  1.19051039,  0.33799028, -1.34831777,  1.61489637,
        0.3094313 , -0.3154647 ,  0.00424603, -0.81223688, -0.80597212,
       -0.68535217]), array([ 2.17693682,  0.42115928, -0.26225295,  0.60984319, -0.43312381,
       -1.48860645,  1.55001289,  0.38157346])], [array([-1.09582929,  0.85234957,  0.02799603, -0.11360236, -0.82825864,
        0.13034753, -0.23598496, -0.72861824]), array([-1.59746613])]]